build/
build-win/
builds/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json

node_modules/
dist/
.vite/

*.o
*.a
*.so
*.dylib

.DS_Store
.vscode/
.cache/
.idea/
client-compose/.kotlin/
client-compose/.gradle/

*.log
