.builds/
.cmake/
CMakeFiles/
CMakeCache.txt
compile_commands.json

*.o
*.a
*.so
*.dll
*.exe
*.dylib
*.pyc

.DS_Store
.vscode/
.cache/
.idea/
.venv/
third_party/windows/

*.log
.env
*.db
backend/api/.venv/

